{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">A</span><span class="base09">n</span><span class="base0a">d</span><span class="base0b">e</span><span class="base0c">r</span><span class="base0d">s</span><span class="base0e">o</span><span class="base0f">n</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  Meu blog pessoal
</div>

<div style="text-align: center;">
  github
</div>
